body {
 background-image: url("https://www.google.com/imgres?q=femtanyl&imgurl=https%3A%2F%2Fimages.genius.com%2Fb71b4cd591da3831acbe4a080d24d689.1000x1000x1.png&imgrefurl=https%3A%2F%2Fgenius.com%2FFemtanyl-katamari-lyrics&docid=y4ViY-4FGJpeeM&tbnid=RKKrZJUDC5dwUM&vet=12ahUKEwiim6iP4u-QAxVZm2oFHVjyMY8QM3oECCsQAA..i&w=1000&h=1000&hcb=2&ved=2ahUKEwiim6iP4u-QAxVZm2oFHVjyMY8QM3oECCsQAA");
 background-repeat: no-repeat;
 background-size: cover;
}